* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 720px;
    background-color: whitesmoke;
    padding: 30px;
    margin: 6rem auto;
    border-radius: 12px;
}

.container h1 {
    padding: 1rem;
}

.container section {
    width: 80%;
    padding: 1rem;
    border: 1px solid #bbb;
    border-radius: 8px;
    text-align: center;
}

.container section header {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.35rem;

}

ul {
    list-style: none;
}

ul li {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

ul li p:first-of-type {
    width: 80px;
    text-align: right;
}

ul li p:nth-of-type(2) {
    width: 120px;
    text-align: left;
}